<!-- About Section -->
<section class="alternate" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-dark">
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>My scientific vision is to <b><u>bridge cell biology and computational science</u></b> to advance fundamental biological knowledge to <b><u>improve human health outcomes</u></b>.
        </div>
        <div class="col-sm-12 text-center">
            <p>
            <br>
            I am keen on understanding complex, dynamic cell death mechanisms via innovative, high throughput, high content microscopy and machine learning techniques.
            I am paving the way to model complex cell processes through temporal and 3D image data.
            It is with this approach that new interventions can be discovered to improve human health outcomes.
            </p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Live-cell timelapse<br>image-based profiling</h3>
        <hr class="star-dark">
      </div>
    <div class="image-container flex-images">
        <div class="image-wrapper">
          <label for="Healthy Cells">Healthy Cells</label>
          <img id="Healthy Cells" class="img-responsive" src="img/portfolio/C02.gif" style="width: 300px; height: 300px;" />
        </div>
        <div class="image-wrapper">
          <label for="img2">Extracted Latent Cell State (Toy) Graph</label>
          <img id="img2" class="img-responsive" src="img/portfolio/output.gif" style="width: 375px; height: 300px;" />
        </div>
        <div class="image-wrapper">
          <label for="Dying Cells (Apoptosis)">Dying Cells (Apoptosis)</label>
          <img id="img3" class="img-responsive" src="img/portfolio/C11.gif" style="width: 300px; height: 300px;" />
        </div>
      </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>3D image-based profiling of<br>
            NF1 patient derived organoids</h3>
        <hr class="star-dark">
      </div>
    <div class="col-lg-12 text-center">
       <p>3D Cell Painting representations of a NF1 patient derived organoid</p>
    </div>
        <div class="image-container flex-images">
          <div class="image-wrapper">
            <label for="DNA">DNA</label>
            <img id="DNA" class="img-responsive" src="img/portfolio/organoids/C4-2_C4-2_405_deconvolved_animation.gif" style="width: 300px; height: 300px;" />
          </div>
          <div class="image-wrapper" >
          <label for="ER">Endoplasmic Reticulum</label>
          <img id="ER" class="img-responsive" src="img/portfolio/organoids/C4-2_C4-2_488_deconvolved_animation.gif" style="width: 300px; height: 300px;" />
        </div>
    </div>
    <div class="image-container flex-images">
        <div class="image-wrapper">
          <label for="AGP">Actin, Golgi, plasma membrane </label>
          <img id="AGP" class="img-responsive" src="img/portfolio/organoids/C4-2_C4-2_555_deconvolved_animation.gif" style="width: 300px; height: 300px;" />
        </div>
        <div class="image-wrapper">
          <label for="Mito">Mitochondria</label>
          <img id="Mito" class="img-responsive" src="img/portfolio/organoids/C4-2_C4-2_640_deconvolved_animation.gif" style="width: 300px; height: 300px;" />
        </div>
    </div>
    <div class="col-lg-12 text-center">
       <p>3D Segmentation masks of NF1 patient derived organoids</p>
    </div>
    <div class="image-container flex-images">
        <div class="image-wrapper">
          <label for="Nuclei Mask">Nuclei Mask </label>
          <img id="Nuclei Mask" class="img-responsive" src="img/portfolio/organoids/C4-2_nuclei_masks (labels)_animation.gif" style="width: 300px; height: 300px;" />
        </div>
        <div class="image-wrapper">
          <label for="Cell Mask">Cell Mask </label>
          <img id="Cell Mask" class="img-responsive" src="img/portfolio/organoids/C4-2_cell_masks (labels)_animation.gif" style="width: 300px; height: 300px;" />
        </div>
    </div>
    <div class="image-container flex-images">
            <div class="image-wrapper">
          <label for="Cytoplasm Mask">Cytoplasm Mask</label>
          <img id="Cytoplasm Mask" class="img-responsive" src="img/portfolio/organoids/C4-2_cytoplasm_masks (labels)_animation.gif" style="width: 300px; height: 300px;" />
        </div>
        <div class="image-wrapper">
          <label for="Organoid Mask">Organoid Mask</label>
          <img id="Organoid Mask" class="img-responsive" src="img/portfolio/organoids/C4-2_organoid_masks (labels)_animation.gif" style="width: 300px; height: 300px;" />
        </div>
    </div>
      </div>
  </div>
</section>
