<!-- Education Section -->
<section class="alternate" id="education">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Education</h2>
          <hr class="star-dark">
        </div>
      </div>
      <div class="row" id="education">
        <div class="col-lg-12 text-center">
          <ul>
            <li>
              <p>PhD - Computational Cell Biology, University of Colorado Anschutz Medical Campus</p>
              <p>Aurora, CO</p>
              <p>Aug. 2022 – May. 2027</p>
            </li>
            <li>
              <p>BS - Biochemistry and Data Science, Maryville University of Saint Louis</p>
              <p>Saint Louis, MO</p>
              <p>Aug. 2017 – May. 2021</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
