<!-- presentations Section -->
<section class="alternate" id="presentations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Presentations</h2>
        <hr class="star-dark">
      </div>
    </div>
    <div class="row" id="presentations">
      <div class="col-lg-12 col-lg-offset-2">
        <ul>
            <li>
                <p>Oral presentation, 6/30/2026<br>Children's Tumor Foundation - NF Research Conference, Denver, CO</p>
            </li>
            <li>
                <p>Oral presentation, June 22, 2026<br>Cold Spring Harbor Laboratory - Cell modeling in space and time, Cold Spring Harbor, NY</p>
            </li>
            <li>
                <p>Poster presentation, May 20, 2026<br>Society for Laboratory Automation and Screening (SLAS) Europe, Vienna, Austria</p>
            </li>
            <li>
                <p>Invited speaker, Jan. 28, 2026<br>Michael Johnson Seminar Series, Maryville University, Saint Louis, MO</p>
            </li>
            <li>
                <p>Oral presentation, Dec. 4, 2025<br>Neurofibramatosis Young Investigator's Forum, Baltimore, MD</p>
            </li>
            <li>
                <p>Oral presentation, Oct. 27, 2025<br>Society of Biomolecular Imaging and Informatics, Boston, MA</p>
            </li>
            <li>
                <p>Poster presentation, Oct. 26, 2025<br>Society of Biomolecular Imaging and Informatics, Boston, MA</p>
            </li>
            <li>
                <p>Oral presentation, Oct. 24, 2025<br>Cell Biology, Stem Cells, and Development Retreat, Estes Park, CO</p>
            </li>
            <li>
                <p>Poster presentation, Feb. 10, 2025<br>Systems applications for cancer biology, Aurora, CO</p>
            </li>
            <li>
                <p>Oral presentation, Dec. 3, 2024<br>American Society for Cell Biology Cell Bio conference, San Diego, CA</p>
            </li>
            <li>
                <p>Poster presentation, Oct. 18, 2024<br>Cell Biology, Stem Cells, and Development Retreat, Breckinridge, CO</p>
            </li>
            <li>
                <p>Poster presentation, Aug. 27, 2024<br>Center for Health Artificial Intelligence Retreat, Denver, CO</p>
            </li>
            <li>
                <p>Oral presentation, Jul. 18, 2024<br>Computational Systems for Integrative Genomics, New York, NY</p>
            </li>
            <li>
                <p>Poster presentation, Dec. 3, 2023<br>American Society for Cell Biology Cell Bio conference, Boston, MA</p>
            </li>
            <li>
                <p>Oral presentation, Aug. 19, 2023<br>Center for Health Artificial Intelligence Retreat, Aurora, CO</p>
            </li>
            <li>
                <p>Poster presentation, Oct. 13, 2023<br>Cell Biology, Stem Cells, and Development Retreat, Breckinridge, CO</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</section>
