<!-- Publications Section -->
<section class="success" id="publications">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Publications</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row" id="publications">
        <div class="col-sm-12">
          <p>Google Scholar: <a href="https://scholar.google.com/citations?user=mTdpDrwAAAAJ&amp;hl=en" target="_blank" class="custom-link"><u>profile</u></a></p>
          <ul>
            <li>
              <strong><u>Three-dimensional image-based profiling of NF1 patient-derived organoids uncovers heterogeneous drug response landscapes</u></strong>
              <p><b><u>Michael J. Lippincott</u></b>, Alberto Mendoza-Valderrey, Jenna Tomkinson, Dave Bunten, Sara Gosline, Alice Soragni, Gregory P. Way (2026)</p>
              
            </li>
            <li>
              <strong><u>High-content live-cell time-lapse imaging predicts cells about to die via apoptosis</u></strong>
              <p><b><u>Michael J. Lippincott</u></b>, Jenna Tomkinson, Ibrahim Bilem, Mahomi Suzuki, Akiko Nakde, Toshiaki Endou, Simon Mathien, Felix Lavoie-Perusse, Carla Basualto-Alarcón, Gregory P Way (2025)</p>
              <p>In Review at Cell Reports Methods: <a href="https://doi.org/10.1101/2025.10.23.684203" target="_blank" class="custom-link"><u>bioRxiv</u></a></p>
            </li>
            <li>
              <strong><u>Scalable data harmonization for single-cell image-based profiling with CytoTable</u></strong>
              <p>Dave Bunten, Jenna Tomkinson, Erik Serrano, <b><u>Michael J. Lippincott</u></b>, Kenneth I. Brewer, Vince Rubinetti, Faisal Alquaddoomi, Gregory P. Way (2025)</p>
              <p>Available at: <a href="https://doi.org/10.1016/j.patter.2026.101514" target="_blank" class="custom-link"><u>Patterns</u></a></p>
            </li>
            <li>
              <strong><u>Progress and new challenges in image-based profiling</u></strong>
              <p>Erik Serrano, John Peters, Jesko Wagner, Rebecca E. Graham, Zhenghao Chen, Brian Feng, Gisele Miranda, Alexandr A. Kalinin, Loan Vulliard, Jenna Tomkinson, Cameron Mattson, <b><u>Michael J. Lippincott</u></b>, Ziqi Kang, Divya Sitani, Dave Bunten, Srijit Seal, Neil O. Carragher, Anne E. Carpenter, Shantanu Singh, Paula A. Marin Zapata, Juan C. Caicedo, Gregory P. Way (2025)</p>
              <p>Available at: <a href="https://doi.org/10.1038/s44320-026-00197-7" target="_blank" class="custom-link"><u>Molecular Systems Biology</u></a></p>
            </li>
            <li>
              <strong><u>A quadratic paradigm describes the relationship between phenotype severity and variation</u></strong>
              <p>Abigail Mumme-Monheit, Grace E. Gustafson, Colette A. Hopkins, Raisa Bailon-Zambrano, Juliana Sucharov, <b><u>Michael J. Lippincott</u></b>, Gregory P. Way, Kathryn L. Colborn, James T. Nichols (2025)</p>
              <p>Available at: <a href="https://doi.org/10.1038/s41467-025-63316-2" target="_blank" class="custom-link"><u>Nature Communications</u></a></p>
            </li>
            <li>
              <strong><u>A morphology and secretome map of pyroptosis</u></strong>
              <p><b><u>Michael J. Lippincott</u></b>, Jenna Tomkinson, Dave Bunten, Milad Mohammadi, Johanna Kastl, Johannes Knop, Ralf Schwandner, Jiamin Huang, Grant Ongo, Nathaniel Robichaud, Milad Dagher, Masafumi Tsuboi, Carla Basualto-Alarcón, Gregory P. Way (2025)</p>
              <p>Available at: <a href="https://doi.org/10.1091/mbc.E25-03-0119" target="_blank" class="custom-link"><u>MBoC</u></a></p>
            </li>
            <li>
              <strong><u>Protein prediction models support widespread post-transcriptional regulation of protein abundance by interacting partners</u></strong>
              <p>Srivastava H, <b><u>Michael J. Lippincott</u></b>, Currie J, Canfield R, Lam MPY, Lau E (2022)</p>
              <p>Available at: <a href="https://doi.org/10.1371/journal.pcbi.1010702" target="_blank" class="custom-link"><u>PLOS Computational Biology</u></a></p>
            </li>
            <li>
              <strong><u>Genetic and Epigenetic Inheritance at Telomeres</u></strong>
              <p>Lister-Shimauchi EH, McCarthy B, <b><u>Michael J. Lippincott</u></b>, Ahmed S (2022)</p>
              <p>Available at: <a href="https://doi.org/10.3390/epigenomes6010009" target="_blank" class="custom-link"><u>Epigenomes</u></a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>
