<!-- Research Experience Section -->
<section class="success" id="research_experience">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Research Experience</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row" id="research_experience">
        <div class="col-lg-12 text-center">
          <ul>
            <li>
              <p>PhD Research - Computational Cell Biology</p>
              <p>University of Colorado, Gregory P. Way, PhD, Aurora, CO</p>
              <p>Aug. 2022 – Present</p>
            </li>
            <li>
              <p>Post-baccalaureate Research Assistant - Genomics</p>
              <p>University of North Carolina at Chapel Hill, Shawn Ahmed, Chapel Hill, NC</p>
              <p>2021 – 2022</p>
            </li>
            <li>
              <p>Research Assistant - Genome editing</p>
              <p>Centro de Technologia Canavieria, Saint Louis, MO</p>
              <p>2020 – 2021</p>
            </li>
            <li>
              <p>Undergraduate Research Assistant - Quantitative spectroscopy</p>
              <p>Maryville University of Saint Louis, Thomas Spudich, PhD, Saint Louis, MO</p>
              <p>2019 – 2020</p>
            </li>
            <li>
              <p>Undergraduate Research Assistant - Cell Biology</p>
              <p>Maryville University of Saint Louis, Stacy L. Donovan, PhD, Saint Louis, MO</p>
              <p>2018 – 2021</p>
            </li>
            <li>
              <p>Research Internship - Biochemistry</p>
              <p>Elemental Enzymes, Saint Louis, MO</p>
              <p>2018 – 2019</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
