<!-- Scientific Appointments Section -->
<section class="success" id="scientific_appointments">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Scientific Appointments</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row" id="scientific-appointments">
        <div class="col-lg-12 text-center">
          <ul>
            <li>
              <p>2024 – Present</p>
              <p>Wellbeing and engagement committee, Department of Biomedical Informatics</p>
              <p>University of Colorado Anschutz Medical Campus, Aurora, CO</p>
            </li>
            <li>
              <p>Aug. 2022 – Present</p>
              <p>PhD student</p>
              <p>University of Colorado Anschutz Medical Campus, Aurora, CO</p>
            </li>
            <li>
              <p>2023 – 2025</p>
              <p>Journal Club Committee, Cell Biology, Stem Cells, and Development</p>
              <p>University of Colorado Anschutz Medical Campus, Aurora, CO</p>
            </li>
            <li>
              <p>2023 – Present</p>
              <p>Volunteer</p>
              <p>Clear Directions Mentoring, Aurora, CO</p>
            </li>
            <li>
              <p>2023 – Present</p>
              <p>Cell Biology Graduate Teaching Assistant</p>
              <p>University of Colorado Anschutz Medical Campus, Aurora, CO</p>
            </li>
            <li>
              <p>May. 2021 – May. 2022</p>
              <p>Research Assistant</p>
              <p>University of North Carolina at Chapel Hill, Chapel Hill, NC</p>
            </li>
            <li>
              <p>2019 – 2021</p>
              <p>Teaching Aid – Chemistry/Cell Biology</p>
              <p>Maryville University of Saint Louis, Saint Louis, MO</p>
            </li>
            <li>
              <p>2019 – 2021</p>
              <p>Lab technician training manager</p>
              <p>Maryville University of Saint Louis, Saint Louis, MO</p>
            </li>
            <li>
              <p>2017 – 2019</p>
              <p>Biology and Maths Tutor</p>
              <p>Maryville University of Saint Louis, Saint Louis, MO</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
