<!-- Skills Section -->
<section class="success" id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Skills</h2>
          <hr class="star-light">
        </div>
      </div>

      <div class="row languages-row text-center">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/python.svg" alt="Python" title="Python" class="language-logo" />
            <span class="tile-caption">Python</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/R.png" alt="R" title="R" class="language-logo" />
            <span class="tile-caption">R</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/SQL.png" alt="SQL" title="SQL" class="language-logo" />
            <span class="tile-caption">SQL</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/Bash.png" alt="Bash" title="Bash" class="language-logo" />
            <span class="tile-caption">Bash</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/nf.png" alt="Nextflow" title="Nextflow" class="language-logo" />
            <span class="tile-caption">Nextflow</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/slurm.png" alt="HPC Orchestration (SLURM)" title="HPC Orchestration (SLURM)" class="language-logo" />
            <span class="tile-caption">HPC Orchestration (SLURM)</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/amazonaws.svg" alt="AWS" title="AWS" class="language-logo" />
            <span class="tile-caption">AWS</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/gcp.svg" alt="GCP" title="GCP" class="language-logo" />
            <span class="tile-caption">GCP</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/terraform.svg" alt="terraform" title="terraform" class="language-logo" />
            <span class="tile-caption">terraform</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/apptainer.svg" alt="Singularity/Apptainer" title="Singularity/Apptainer" class="language-logo" />
            <span class="tile-caption">Singularity/Apptainer</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/docker.svg" alt="Docker" title="Docker" class="language-logo" />
            <span class="tile-caption">Docker</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/Git-Icon-1788C.png" alt="Git" title="Git" class="language-logo" />
            <span class="tile-caption">Git</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/pytorch.svg" alt="Pytorch" title="Pytorch" class="language-logo" />
            <span class="tile-caption">Pytorch</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/scikitlearn.svg" alt="Scikit-learn" title="Scikit-learn" class="language-logo" />
            <span class="tile-caption">Scikit-learn</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/pandas.svg" alt="Pandas" title="Pandas" class="language-logo" />
            <span class="tile-caption">Pandas</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/numpy.svg" alt="NumPy" title="NumPy" class="language-logo" />
            <span class="tile-caption">NumPy</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/scipy.svg" alt="SciPy" title="SciPy" class="language-logo" />
            <span class="tile-caption">SciPy</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/optuna.svg" alt="Optuna" title="Optuna" class="language-logo" />
            <span class="tile-caption">Optuna</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/seaborn.svg" alt="Seaborn" title="Seaborn" class="language-logo" />
            <span class="tile-caption">Seaborn</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/matplotlib.svg" alt="Matplotlib" title="Matplotlib" class="language-logo" />
            <span class="tile-caption">Matplotlib</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/ggplot2.png" alt="ggoplot2" title="ggoplot2" class="language-logo" />
            <span class="tile-caption">ggoplot2</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/plotly.svg" alt="Plotly" title="Plotly" class="language-logo" />
            <span class="tile-caption">Plotly</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/dash.svg" alt="dash" title="dash" class="language-logo" />
            <span class="tile-caption">dash</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/CP.png" alt="CellProfiler" title="CellProfiler" class="language-logo" />
            <span class="tile-caption">CellProfiler</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/napari.svg" alt="napari" title="napari" class="language-logo" />
            <span class="tile-caption">napari</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/imagej.svg" alt="Fiji/ImageJ" title="Fiji/ImageJ" class="language-logo" />
            <span class="tile-caption">Fiji/ImageJ</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-database.svg" alt="Database Management" title="Database Management" class="language-logo" />
            <span class="tile-caption">Database Management</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-statistics.svg" alt="Statistical Analysis" title="Statistical Analysis" class="language-logo" />
            <span class="tile-caption">Statistical Analysis</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-dataviz.svg" alt="Data Visualization" title="Data Visualization" class="language-logo" />
            <span class="tile-caption">Data Visualization</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-wrangling.svg" alt="Data Wrangling" title="Data Wrangling" class="language-logo" />
            <span class="tile-caption">Data Wrangling</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-datamining.svg" alt="Data Mining" title="Data Mining" class="language-logo" />
            <span class="tile-caption">Data Mining</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-computervision.svg" alt="Computer Vision" title="Computer Vision" class="language-logo" />
            <span class="tile-caption">Computer Vision</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-vit.svg" alt="ViTs" title="ViTs" class="language-logo" />
            <span class="tile-caption">ViTs</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-graph.svg" alt="Graph-based Learning" title="Graph-based Learning" class="language-logo" />
            <span class="tile-caption">Graph-based Learning</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="tile skill-tile" tabindex="0">
            <img src="img/portfolio/icon-agent.svg" alt="Agentic AI" title="Agentic AI" class="language-logo" />
            <span class="tile-caption">Agentic AI</span>
          </div>
        </div>
      </div>
      <br><br><br>
    </div>
    <script>
      document.querySelectorAll('.skill-tile').forEach(function (tile) {
        tile.addEventListener('click', function () {
          tile.classList.toggle('show-caption');
        });
      });
    </script>
  </section>
